
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 166rem;
}.login-page-7mP {
  background-color: black;
  box-sizing: border-box;
  padding-top: 7.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url('../assets/login-page-bg-5Nd.png'); */
}
.login-page-7mP .auto-group-5jwu-KMf {
  margin-bottom: 27.2rem;
  box-sizing: border-box;
  padding: 0.2rem 6.2rem 0.2rem 4.3rem;
  width: 100%;
  height: 16.5rem;
  display: flex;
  align-items: center;
  background-color: #1f6e8c;
  flex-shrink: 0;
}
.login-page-7mP .auto-group-5jwu-KMf .auto-group-vcah-ctV {
  margin: 0rem 45.2rem 0.6rem 0rem;
  width: 15.5rem;
  height: 15.5rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.235;
  color: #ffffff;
  font-family: Copse, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 7.75rem;
  flex-shrink: 0;
}
.login-page-7mP .auto-group-5jwu-KMf .khoya-paaya-V57 {
  margin: 0.9rem 47.4rem 0rem 0rem;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.19;
  color: #ffffff;
  font-family: Chivo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-page-7mP .auto-group-5jwu-KMf .emblemofindia-1-jk9 {
  margin-bottom: 0.6rem;
  width: 7.5rem;
  height: 11.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-page-7mP .username-B6M {
  margin-right: 50.4rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.235;
  color: #ffffff;
  font-family: Copse, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-page-7mP .auto-group-s3r7-Fc1 {
  box-sizing: border-box;
  padding: 0.5rem 11.6rem 7.6rem 46.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-page-7mP .auto-group-s3r7-Fc1 .rectangle-4-XZX {
  margin: 0rem 34.8rem 5.5rem 0rem;
  width: 73.2rem;
  height: 5.7rem;
  background-color: rgba(31, 110, 140, 0.5);
  border-radius: 2rem;
  flex-shrink: 0;
}
.login-page-7mP .auto-group-s3r7-Fc1 .password-AsP {
  margin: 0rem 87.3rem 2rem 0rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.235;
  color: #ffffff;
  font-family: Copse, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-page-7mP .auto-group-s3r7-Fc1 .rectangle-5-Fdw {
  margin: 0rem 34.8rem 5.5rem 0rem;
  width: 73.2rem;
  height: 5.7rem;
  background-color: rgba(31, 110, 140, 0.5);
  border-radius: 2rem;
  flex-shrink: 0;
}
.login-page-7mP .auto-group-s3r7-Fc1 .auto-group-uvbp-uyP {
  margin-left: 91.9rem;
  width: 16.1rem;
  height: 6.7rem;
  position: relative;
  flex-shrink: 0;
}
.login-page-7mP .auto-group-s3r7-Fc1 .auto-group-uvbp-uyP .rectangle-6-Qv9 {
  width: 16.1rem;
  height: 5.7rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  background-color: #1f6e8c;
  border-radius: 2rem;
}
.login-page-7mP .auto-group-s3r7-Fc1 .auto-group-uvbp-uyP .submit-iA9 {
  width: 12.5rem;
  height: 6.7rem;
  position: absolute;
  left: 1.5rem;
  top: 0;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.8525;
  color: #ffffff;
  font-family: Corben, 'Source Sans Pro';
  white-space: nowrap;
}
